.bg {
  height: 30rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 900;
}
.darkheight {
  padding: 2rem;
}
.logoutbtn {
  color: white;
  font-weight: 900;
  background-color: red;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
}
