/* this is for  small screen */
.split-screen {
  color: #fff;
  /* background-color: var(--main-deep-dark); */
  background-color: var(--main-test-dark);
  display: flex;
  flex-direction: column;
}
.explorecrec {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #000;
}
.h2class {
  margin-top: 2rem;
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  text-shadow: 2px 2px #000;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.LinkClass {
  text-decoration: none;
  color: #3775d4;
}
.LinkClass:hover {
  text-decoration: underline;
}
.small {
  font-size: 100%;
  text-align: center;
}
.left {
  height: 200px;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/loginimg.jpg");
  background-size: cover;
}
.left .copy {
  color: white;
  text-align: center;
}

.left p {
  font-weight: 400;
}

.right .copy {
  text-align: center;
}
.right .copy p {
  margin: 1.5rem 0;
  font-size: 0.875rem;
}

.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  padding: 0.8rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  outline: none;
  color: black;

  font-weight: 900;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.input-container.password {
  position: relative;
}
.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}
.checkbox-container {
  margin-bottom: 1rem;
  cursor: pointer;
}
.checkmark {
  margin-left: 10px;
}
.signup-btn {
  display: block;
  width: 100%;
  background: #ff2424;
  font-weight: 900;
  color: white;
  font-size: 700;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 0.5px;
  cursor: pointer;
}
/* end of this is for  small screen  */

/* ||||||||||||||||||||||||||||||||||||| */

/* for big screen */

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}
/* end of big screen styling */
